.container{
    background: linear-gradient(to right,#56cfe1,#80ffdb,#56cfe1);
    width: 100%;
}
.a{
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background: #3AC371;
	position: fixed;
    z-index: 5;
    top:85vh;
    left:85vw;
	transform: translate(-50%,-50%);
    border: 3px solid white;
}
